* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #18181b;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;
}

p {
    line-height: 1.5;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap:3rem;

}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.parent{
    border:1px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1/3 for title-card, 2/3 for main */
    max-width: 1200px;
    margin: 0 auto;
}


.title-card{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    min-width: 40%;
    border: 1px solid red;
}

.profile-pic{
    max-width: 175px;
    border-radius: 50%;
}

.personal-links-imgs{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.personal-links{
    margin-top: 8px;
}

.personal-links-imgs img{
    max-width: 35px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background: white;
    border-radius: 20%;
}

.main{
    padding: 10px;
    margin-left: 45%;
    border: 1px solid red;
}

.main p{
    padding-top: 25px;
}
